body {
    font-family: PT Serif, Helvetica, Arial, serif;
    padding: 1em;
    background: #FAFAFA;
    color: #111;
}

@media screen and (min-width: 320px) {
    html {
        font-size: 30pt;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 16pt;
    }
}

.example {
    overflow: scroll;
}

#content {
    max-width: 42em;
    margin: 0 auto;
}

a:link {
    color: #0074D9;
}

.post-date {
    text-align: right;
}

a:visited {
    color: #001f3f;
}

.header {
    padding-bottom: 1em;
    text-align: center;
}

h1 {
    padding-top: 1em;
}

h1, h2 {
    text-align: center;
}

pre.example, pre.src {
    font-family: Fira Code, Menlo, Monaco, monospace;
    font-size: .5em;
}

img {
    max-width: 100%;
}
