h1
  font-weight: 500


h2
  font-weight: 400


address
  font-style: normal


.text-center
  text-align: center


.text-right
  text-align: right


.text-left
  text-align: left


.centerer
  margin-top: 1em
  margin-bottom: 1em
  @include centerer
