a
  @include link-colors($dark, $dark, #444, $silver)
  &.icon-link
    display: inline-block
    text-decoration: none
    margin-bottom: 0
    span
      text-decoration: underline

  &:hover
    @include color-transition($gray + #222)
