ul.tags
  list-style-type: none

li.tag
  text-decoration: none
  position: relative
  float: left
  margin: .25em 1.25em 0 -.75em
  padding: .125em .25em .125em .5em
  background: $dark
  color: white
  font-size: 16px

  &:hover
    @include color-transition($gray)
