@mixin link-colors($link, $visited, $hover, $active)
  &
    color: $link

    &:visited
      color: $visited
    &:hover
      color: $hover
    &:active, &:focus
      color: $active


@mixin text-shadow( $top: 3px, $left: 3px, $blur: 3px , $colour: #333)
  -webkit-text-shadow: $top $left $blur $colour
  -moz-text-shadow: $top $left $blur $colour
  -o-text-shadow: $top $left $blur $colour
  text-shadow: $top $left $blur $colour


@mixin transform-style($val)
  -webkit-transform-style: $val
  -moz-transform-style: $val
  -ms-transform-style: $val
  transform-style: $val

@mixin transition($transition...)
  -moz-transition:    $transition
  -o-transition:      $transition
  -webkit-transition: $transition
  transition:         $transition


@mixin transform($transforms)
  -moz-transform: $transforms
  -o-transform: $transforms
  -ms-transform: $transforms
  -webkit-transform: $transforms
  transform: $transforms


@mixin background-size($background-size)
  -webkit-background-size: $background-size
  -moz-background-size: $background-size
  -o-background-size: $background-size
  background-size: $background-size


// Apply font size function
@mixin font-size($size)
  font-size: $size
  font-size: calculateRem($size)


// Change color with transition animation
@mixin color-transition($color)
  color: $color
  @include transition(color .25s ease-in-out)


// Center horizontally and vertically
@mixin centerer
  position: absolute
  top: 50%
  left: 50%
  @include transform(translate(-50%, -50%))
